affine==2.4.0
attrs==26.1.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.3
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
contextily==1.7.0
contourpy==1.3.2
cycler==0.12.1
filelock==3.29.0
fonttools==4.62.1
fsspec==2026.4.0
geographiclib==2.1
geopandas==1.1.3
geopy==2.4.1
idna==3.13
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mercantile==1.2.1
mpmath==1.3.0
networkx==3.4.2
numpy==2.2.6
osmnx==2.0.7
packaging==26.2
pandas==2.3.3
pillow==12.2.0
pyogrio==0.12.1
pyparsing==3.3.2
pyproj==3.7.1
python-dateutil==2.9.0.post0
pytz==2026.2
rasterio==1.4.4
requests==2.33.1
scikit-learn==1.7.2
scipy==1.15.3
shapely==2.1.2
six==1.17.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.11.0
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
xyzservices==2026.3.0
